.header{
  background-color: rgb(39, 54, 184);
  color: white;
  width: auto;
  text-align: left;
  padding: 7px;
}


button{
  float: right;
  background-color: rgb(39, 54, 184);
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
}

span{
  font-size: xx-large;
}

.table{
  margin: 10px 200px 10px 200px;
}

.data-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: solid 2px rgb(196, 196, 196);
  border-radius: 7px;
  background-color: rgb(224, 224, 224);
  height: 30px;
  margin-left: 0px 40px 0px 40px;
}

.body{
  background-color: rgb(231, 229, 229);
   border:none;
   text-align: left;
}


