.header{
  background-color: rgb(39, 54, 184);
  color: white;
  width: auto;
  text-align: left;
  padding: 7px;
}


button{
  float: right;
  background-color: rgb(39, 54, 184);
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
}

span{
  font-size: xx-large;
}

.data-container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap:30px;
}

